@import url('https://fonts.googleapis.com/css?family=Roboto|Ubuntu');

img {
  max-width: 400px;
  padding: 10px;
}

body {
  background-color: #519872;
  margin: 10px;
  font-family: Roboto, sans-serif;
}

h1, h2 {
  color: #34252F;
  font-family: Ubuntu, sans-serif;
}

label, input {
  display: block;
}

label {
  margin-bottom: 10px;
}

input {
  margin-bottom: 20px;
  width: 250px;
}

button {
  height: 30px;
  width: 100px;
}